.logo{
  height: 10%;
  width: 3%;
}


.login-button{

  margin-left: auto;
}
.row{
  height: auto;
}
.lim{
  width: 75%;
  height: auto;
}
#hhhh{
  padding-top: 10px;
}
.rim{
  width: 25%;
  height: auto;
  /* padding-right: 10px; */
}
.ddd{
  text-align: right;
}
.metroimage{
  width: 100%;
/* padding: 10px 0 10px 10px; */
height: auto;
}

.card{
  text-align: center;
  height: 33%;
  width: 90%;
  border-color: red;
}

.card-img-top{
  height: 95%;
}
/* .cd{

  position: relative;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
} */
.nav-item{
  padding-right: 20px;
}
#top{
  background-color: #E7F6F2;
}
#footer{
  background-color: #A5C9CA;
  padding: 20px 0 20px 0;
}
.footer-img{
  width: 50%;
}
.foot-item{
  text-align: left;
padding-top: 7%;
}
h5{
  font-size: 15px;
  margin-bottom: 3%;
}
.qr{
  width: 50%;
}
.ic
{
  width:20%;
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
}
