.logo{
  height: 10%;
  width: 3%;
}


.login-button{

  margin-left: auto;
}
.row{
  height: auto;
}
.lim{
  width: 75%;
  height: auto;
}
#hhhh{
  padding-top: 10px;
}
.rim{
  width: 25%;
  height: auto;
  /* padding-right: 10px; */

}
.ddd{
  text-align: right;
}
.metroimage{
  width: 100%;

height: auto;
}

.df{
  text-align: center;
  height: 33.33%;
  width: 90%;
  /* border-color: blue; */
}

.card-img-top{
  height: 99%;
}

.op{
  width: 80%;
  /* text-align: center; */
  padding-left: 15px;
}
.np{
  width: 20%;
}

.jk{
  background-color: pink;
  height: 500px;
  text-align: center;
}
/* .cd{

  position: relative;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
} */
.centr{
text-align: center;
}

#summary{
  padding-top: 14px;
  padding-bottom: 4px;
  /* background-color: #E7F6F2; */
}

.pt{
  text-align: center;
  height: 50px;
  background-color: #E7F6F2;
}
.pr{
  text-align: center;
  padding-top: 10px;

}

.co-red{
  color: red;
}

#cities{
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
.oo{
 text-align: center;
 height: 33.33%;
 /* width: 100%; */
 /* border-color: blue; */
} 
.pd{
  /* text-align: right; */
  padding-left: 2%;
  /* padding-right: 2%; */
  /* padding-top: 10px; */
}
.pl{
  /* padding-top: 10px; */
}





/*  */
.nav-item{
  padding-right: 20px;
}
#top{
  background-color: #E7F6F2;
}
#footer{
  background-color: #A5C9CA;
  padding: 20px 0 20px 0;
}
.footer-img{
  width: 50%;
}
.foot-item{
  text-align: left;
padding-top: 7%;
}
h5{
  font-size: 15px;
  margin-bottom: 3%;
}
.qr{
  width: 50%;
}
.ic
{
  width:20%;
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
}
